a,button,input{
    cursor : pointer;
}

a{

	&:link{
		color:$theme-primary-col;
		text-decoration:none;
	}

	&:visited{
		color:$theme-secondary-col;
		text-decoration:none;
	}

	&:hover{
		color:lighten($theme-primary-col,10%);
		text-decoration:underline;
	}

	&:active{
		color:$theme-text-colour;
		text-decoration:underline;
	}
}


button, .button{

	
	outline:0;
	margin-bottom:20px;

	border-top:1px solid darken($theme-subtle-light,7%);
	border-left:1px solid darken($theme-subtle-light,7%);
	border-right:1px solid darken($theme-subtle-light,7%);
	border-bottom:5px solid darken($theme-subtle-light,7%);
	background:$theme-subtle-light;
	color: $theme-text-colour;
	text-shadow:-1px -1px 0 darken($theme-subtle-light,2%);

	&:hover, &:focus{
		border-color:darken($theme-subtle-light,6%);
		background:lighten($theme-subtle-light,5%);
		color: lighten($theme-text-colour ,25%);
		text-decoration: none;
	}

	@each $name, $colour in $theme-colours {

		&.#{$name}{

			border-top:1px solid darken($colour,5%);
			border-left:1px solid darken($colour,5%);
			border-right:1px solid darken($colour,5%);
			border-bottom:5px solid darken($colour,5%);
			background:$colour;
			color: darken($colour,35%);
			text-shadow:1px 1px 0 lighten($colour,10%);

			&:hover, &:focus{
				border-color:darken($colour,15%);
				background:lighten(saturate($colour,15%),10%);
				color: darken($colour,45%);
			}
		}
	}

	&.large{

		padding: 15px 30px;
		font:{
			weight:700;
			size:1em;
		}
		@extend .rounded-15px;
	}

	&.medium{

		padding: 10px 20px;
		font:{
			weight:700;
			size:0.8em;
		}
		@extend .rounded-10px;
	}

	&.small{

		padding: 7px 10px;
		font:{
			weight:700;
			size:0.7em;
		}
		@extend .rounded-5px;
	}
}