
//Tones
// --------------------------------
$col-light  : #f6f6f6;
$col-grey   : #ababab;
$col-dark   : #222222;

//Hues
// --------------------------------
$col-blue   : #125c8f;
$col-green  : #4f903e;
$col-orange : #eb9f18;
