// ============================================================
// DARK THEME v0.8
// ============================================================
	
	// THEME STYLE
	// -------------------------------------------------------
	$theme-style : "dark"; // "dark" or "light"

	// FONTS
	// -------------------------------------------------------
	$primary-font : "Open Sans", sans-serif;
	$secondary-font : "Open Sans Condensed", sans-serif;

	// COLOURS
	// --------------------------------------------------------
	$theme-bg-colour     : #222222;
	$theme-text-colour   : #AAAAAA;
	$theme-primary-col   : #e7a753;
	$theme-secondary-col : #aa4f40;
	$theme-tertiary-col  : #c37a3f;

	//Subtlety
	$subtlety            : 5%;
	$theme-subtle-light  : lighten($theme-bg-colour,$subtlety);
	$theme-subtle-dark   : darken($theme-bg-colour,$subtlety);

	//For loop mapping
	$theme-colours : (
		primary   : $theme-primary-col, 
		secondary : $theme-secondary-col, 
		tertiary  : $theme-tertiary-col
	);


	// BREAKPOINTS
	// --------------------------------------------------------
	$small-screens  : 550px;
	$medium-screens : 780px;

// ============================================================


