
<h1 class="section-heading" id="paragraph">Panels</h1>

<div class="grid-row">

	<p>Panel example using the .rounded-10px class</p>

	<div class="grid-8 grid-divide-right">

		<div class="panel rounded-10px">
			<header>
				<h6>Panel header</h6>
			</header>
			<p class="panel-content engraved">
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo consequuntur consectetur soluta cumque nisi distinctio eius dolorem. Ut corporis similique, quas ipsam. Quas dolore consectetur officiis, eius ex eaque consequatur.
			</p>
			<footer>Panel footer</footer>
		</div>

	</div>

	<div class="grid-3 push-1">
		
		<ul class="panel-list">
			<li class="header"><h6>Panel list</h6></li>
			<li><a>Lorem Ipsum</a></li>
			<li><a>Lorem Ipsum</a></li>
			<li><a>Lorem Ipsum</a></li>
			<li><a>Lorem Ipsum</a></li>
		</ul>
	</div>

	

</div>