
<h1 class="section-heading" id="paragraph">Paragraph</h1>

<div class="grid-8 grid-divide-right">

	<p>Lorem ipsum dolor sit amet, <a href="#" title="This is a hyperlink">this is a hyperlink</a> adipiscing elit. Nullam dignissim convallis est. Quisque aliquam. Donec faucibus. Nunc iaculis suscipit dui. Nam sit amet sem. Aliquam libero nisi, imperdiet at, tincidunt nec, gravida vehicula, nisl.</p>
	<p>Lorem ipsum dolor sit amet, <strong>this text is strong</strong> adipiscing elit. Nullam dignissim convallis est. Quisque aliquam. Donec faucibus. Nunc iaculis suscipit dui. Nam sit amet sem. Aliquam libero nisi, imperdiet at, tincidunt nec, gravida vehicula, nisl.</p>
	<p>Lorem ipsum dolor sit amet, <em>this text is emphasized</em> consectetuer adipiscing elit. Nullam dignissim convallis est. Quisque aliquam. Donec faucibus. Nunc iaculis suscipit dui. Nam sit amet sem. Aliquam libero nisi, imperdiet at, tincidunt nec, gravida vehicula, nisl.
	<p><img alt="Placeholder Image and Some Alt Text" src="http://placehold.it/350x150" title="A title element for this placeholder image."></p>
	<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nullam dignissim convallis est. Quisque aliquam. Donec faucibus. Nunc iaculis suscipit dui. Nam sit amet sem. Aliquam libero nisi, imperdiet at, tincidunt nec, gravida vehicula, nisl. Praesent mattis, massa quis luctus fermentum, turpis mi volutpat justo, eu volutpat enim diam eget metus. Maecenas ornare tortor. Donec sed tellus eget sapien fringilla nonummy.</p>

	<blockquote>
	  <p>This is a blockquote. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nullam dignissim convallis est. Quisque aliquam. Donec faucibus. Nunc iaculis suscipit dui. Nam sit amet sem. Aliquam libero nisi, imperdiet at, tincidunt nec, gravida vehicula, nisl.</p>
	  <cite>-Author</cite>
	</blockquote>

	<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nullam dignissim convallis est. Quisque aliquam. Donec faucibus. Nunc iaculis suscipit dui. Nam sit amet sem. Aliquam libero nisi, imperdiet at, tincidunt nec, gravida vehicula, nisl. Praesent mattis, massa quis luctus fermentum, turpis mi volutpat justo, eu volutpat enim diam eget metus. Maecenas ornare tortor. Donec sed tellus eget sapien fringilla nonummy.</p>

	<h5>Paragraph with css3 columns</h5>

	<p class="columns">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nullam dignissim convallis est. Quisque aliquam. Donec faucibus. Nunc iaculis suscipit dui. Nam sit amet sem. Aliquam libero nisi, imperdiet at, tincidunt nec, gravida vehicula, nisl. Praesent mattis, massa quis luctus fermentum, turpis mi volutpat justo, eu volutpat enim diam eget metus. Maecenas ornare tortor. Donec sed tellus eget sapien fringilla nonummy.</p>



</div>

<div class="grid-3 push-1">
	

	<h4 id="text-elements"> Text Elements</h4>

	<p>The <a href="#">a element</a> example</p>
	<p>The <abbr>abbr element</abbr> and an <abbr title="Abbreviation">abbr</abbr> element with title examples</p>
	<p>The <acronym title="A Cowboy Ran One New York Marathon">ACRONYM</acronym> element example
	<p>The <b>b element</b> example</p>
	<p>The <cite>cite element</cite> example</p>
	<p>The <code>code element</code> example</p>
	<p>The <em>em element</em> example</p>
	<p>The <del>del element</del> example</p>
	<p>The <dfn>dfn element</dfn> and <dfn title="Title text">dfn element with title</dfn> examples</p>
	<p>The <i>i element</i> example</p>
	<p>The <ins>ins element</ins> example</p>
	<p>The <kbd>kbd element</kbd> example</p>
	<p>The <mark>mark element</mark> example</p>
	<p>The <q>q element</q> example</p>
	<p>The <q>q element <q>inside</q> a q element</q> example</p>
	<p>The <s>s element</s> example</p>
	<p>The <samp>samp element</samp> example</p>
	<p>The <small>small element</small> example</p>
	<p>The <span>span element</span> example</p>
	<p>The <strong>strong element</strong> example</p>
	<p>The <sub>sub element</sub> example</p>
	<p>The <sup>sup element</sup> example</p>
	<p>The <u>u element</u> example</p>
	<p>The <var>var element</var> example</p>


</div>
